.vscode
maildir
apache_ml
.idea
.DS_Store
*.csv
*.db
dump.rdb
/sample_log
**/__pycache__/*
profiler/
*.ipynb
!notebooks/*
*.log
extract*=1.20.3
get-pip.py
README.md
readme.md
apache_ml/
maildir/
extracted_kws_documents_dataset_float32-enron/
extracted_kws_documents_dataset_float32-enron-occ/
extracted_kws_documents_dataset_float32-enron-voc/
*.csv
*.log
__pycache__/
.ipynb_checkpoints/
